In [12]:
import numpy as np
import pandas as pd

# Task 0
Read the dataset from csv file & perform data cleaning - remove all rows, which contains `?` in some columns.
Also check for data correctness (salary & salary $K).

In [28]:
data = pd.read_csv("C:/Users/One/py-adult-data-analysis/data/adult.csv")
data_cleaned = data.replace("?", pd.NA).dropna()

data_cleaned

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
1,1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K,35
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
3,3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K,43
4,4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K,36
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32558,32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K,40
32559,32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 1
Print the count of men and women in the dataset.

In [14]:
gender_counts = data_cleaned["sex"].value_counts()
men = gender_counts["Male"]
women  = gender_counts["Female"]

# Task 2
Find the average age of men in dataset

In [15]:
average_age_men = round(data_cleaned[data["sex"] == "Male"]["age"].mean())
average_age_men

39

# Task 3
Get the percentage of people from Poland (native-country)

In [16]:
people_from_poland = (data_cleaned["native-country"] == "Poland").value_counts()
people_from_poland

native-country
False    32501
True        60
Name: count, dtype: int64

# Task 4
Get the mean and standard deviation of the age for people who earn > 50K per year. After this, get it for those who earn <= 50K.

In [17]:
people_who_earn_more_than_50 = data_cleaned[data_cleaned["salary"] == ">50K"]

mean_salary1 = round(people_who_earn_more_than_50["age"].mean())

std_salary1 = round(people_who_earn_more_than_50["age"].std())

people_who_earn_less_than_50 = data_cleaned[data_cleaned["salary"] == "<=50K"]

mean_salary2 = round(people_who_earn_less_than_50["age"].mean())

std_salary2 = round(people_who_earn_less_than_50["age"].std())

# Task 5
Check, if there are some people without higher education (education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate), but with > 50K salary

In [18]:
educations = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]

result = data_cleaned[(data_cleaned["salary"] == ">50K") & (~data_cleaned["education"].isin(educations))]

result

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
7,7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,307
10,10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K,116
27,27,54,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,60,South,>50K,275
38,38,31,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,38,?,>50K,166
55,55,43,Private,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,>50K,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32510,32510,39,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,?,>50K,212
32518,32518,57,Local-gov,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K,116
32519,32519,46,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,White,Male,48,United-States,>50K,239
32557,32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K,173
32560,32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K,243

# Task 6
Get the statistics of age for each type of education. Use `groupby` and `describe` for this.

In [19]:
education_age_stats = data_cleaned.groupby("education")["age"].describe()

education_age_stats

                count       mean        std   min    25%   50%   75%   max
education
10th            933.0  37.429796  16.720713  17.0  22.00  34.0  52.0  90.0
11th           1175.0  32.355745  15.545485  17.0  18.00  28.0  43.0  90.0
12th            433.0  32.000000  14.334625  17.0  19.00  28.0  41.0  79.0
1st-4th         168.0  46.142857  15.615625  19.0  33.00  46.0  57.0  90.0
5th-6th         333.0  42.885886  15.557285  17.0  29.00  42.0  54.0  84.0
7th-8th         646.0  48.445820  16.092350  17.0  34.25  50.0  61.0  90.0
9th             514.0  41.060311  15.946862  17.0  28.00  39.0  54.0  90.0
Assoc-acdm     1067.0  37.381443  11.095177  19.0  29.00  36.0  44.0  90.0
Assoc-voc      1382.0  38.553546  11.631300  19.0  30.00  37.0  46.0  84.0
Bachelors      5355.0  38.904949  11.912210  19.0  29.00  37.0  46.0  90.0
Doctorate       413.0  47.702179  11.784716  24.0  39.00  47.0  55.0  80.0
HS-grad       10501.0  38.974479  13.541524  17.0  28.00  37.0  48.0  90.0
Masters        1723.0  44.049913  11.068935  18.0  36.00  43.0  51.0  90.0
Preschool        51.0  42.764706  15.126914  19.0  31.00  41.0  53.5  75.0
Prof-school     576.0  44.746528  11.962477  25.0  36.00  43.0  51.0  90.0
Some-college   7291.0  35.756275  13.474051  17.0  24.00  34.0  45.0  90.0

# Task 7
Compare the married and non-married men salaries. Who earns more? (>50K or <=50K)
Married men are those, whom `marital-status` starts with "Married". Others are not.

In [29]:
men_data = data_cleaned[data_cleaned["sex"] == "Male"]

married_men = men_data[men_data["marital-status"].str.startswith("Married")]
non_married_men = men_data[~men_data["marital-status"].str.startswith("Married")]

married_more_than_50k = (married_men[married_men["salary"] == ">50K"]).value_counts()
married_less_than_or_equal_50k = married_men[married_men["salary"] == "<=50K"]

non_married_more_than_50k = non_married_men[non_married_men["salary"] == ">50K"]
non_married_less_than_or_equal_50k = non_married_men[non_married_men["salary"] == "<=50K"]

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
0,0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K,39
2,2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K,27
13,13,32,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,50,United-States,<=50K,28
16,16,25,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,35,United-States,<=50K,42
17,17,32,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,40,United-States,<=50K,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32537,32537,30,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,46,United-States,<=50K,29
32548,32548,65,Self-emp-not-inc,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,60,United-States,<=50K,24
32553,32553,32,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,11,Taiwan,<=50K,36
32555,32555,22,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,<=50K,32
32559,32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K,38

# Task 8
Get the max hours per week some person works. How many people works the same amount of hours per week?

In [21]:
max_hours_per_week = data_cleaned["hours-per-week"].max()

num_people_max_hours = data_cleaned[data_cleaned["hours-per-week"] == max_hours_per_week]

num_people_max_hours

,Unnamed: 0,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary,salary K$
935,935,37,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,99,United-States,>50K,274
1172,1172,25,Private,Masters,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,99,United-States,>50K,207
1887,1887,55,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,>50K,188
3578,3578,37,Self-emp-inc,Doctorate,Married-civ-spouse,Prof-specialty,Husband,Black,Male,99,United-States,>50K,136
4086,4086,50,?,10th,Married-civ-spouse,?,Husband,White,Male,99,United-States,<=50K,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30992,30992,40,Self-emp-inc,Masters,Never-married,Other-service,Own-child,White,Male,99,United-States,<=50K,48
31681,31681,43,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,99,United-States,>50K,237
31699,31699,43,Self-emp-not-inc,Some-college,Married-civ-spouse,Farming-fishing,Husband,White,Male,99,United-States,<=50K,40
32469,32469,58,Self-emp-inc,Doctorate,Never-married,Prof-specialty,Not-in-family,White,Female,99,?,<=50K,29
32531,32531,30,?,Bachelors,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,99,United-States,<=50K,46

# Task 9
Analyze the correlation between data in dataset. Understand connected fields in it and print highlight thier connection.

In [22]:
numeric_columns = data_cleaned.select_dtypes(include=["int64", "float64"])

correlation_matrix = numeric_columns.corr()

correlation_matrix

                Unnamed: 0       age  hours-per-week  salary K$
Unnamed: 0        1.000000  0.001286        0.000607  -0.001666
age               0.001286  1.000000        0.068756   0.201774
hours-per-week    0.000607  0.068756        1.000000   0.196916
salary K$        -0.001666  0.201774        0.196916   1.000000